@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');

*{
	font-family: 'Encode Sans Expanded', sans-serif;
}
input, textarea{
	display:block;
	margin: 10px auto 4px auto;
	border:1px solid #ccc;
}
input[type=text]{
	padding: 6px 10px;
	width: 300px;
}
input[type=button], input[type=submit]{
	padding: 10px 15px;
}
textarea{
	width: 80%;
	max-width:300px;
	height: 40%;
	padding: 6px 10px;
}

.secretstatus{
	text-align:center;
	margin-bottom:20px;
}
.messagebox{
	margin:auto;
	max-width: 278px;
	padding:6px 10px;
	font-size:13px;
	text-align:center;
	background-color:#f7f7f7;
	border:1px solid #eee;
}
.messagebox.hidden{
	display:none;
}

/* ************** ADMIN PAGE **************** */
#statements{
	float:left;
	min-width:70%;
	width:70%;
	height:100%;
}

#makequestion{
	float:left;
	width:30%;
	height:100%;
}
#output{
	max-width:90%;
	width:90%;
	min-height:400px;
	overflow:auto;
}


.userwrapper{
	float:left;
	width:50%;
}
.user{
	padding:10px;
	margin:6px 0px 10px 0px;
}
.username{
	font-weight:bold;
	margin-bottom:6px;
	padding-left: 10px;
}
.secret{
	padding: 4px 10px;
	margin-bottom:5px;
	border:1px dashed #ddd;
	cursor:move;
}
.secret.hidden{
	display:none;
}
.secrets.disabled{
	opacity:0.6;
}

.messagewrapper{
	padding:10px;
}
.messagebox{
	max-width: 90%;
	margin:auto;
}
.optionlists{
	margin-top:10px;
}
.option{
	width:90%;
	margin:auto;
	margin-bottom:10px;
}
.optionlist{
	border:1px solid #bbb;
	padding-top:5px;
	min-height:35px;
}
.resetlink{
	display:block;
	text-align:center;
}

@media only screen and (max-width: 768px) {
	.user{
		margin-right:auto;
		margin-left:auto;
		width:90%;
	}
	
	#statements{
		float:none;
		width:100%;
	}

	#makequestion{
		position: static;
		transform: none;
		float:none;
		width:100%;
	}
}