@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');

*{
	font-family: 'Encode Sans Expanded', sans-serif;
}
input, textarea{
	display:block;
	margin: 10px auto 4px auto;
	border:1px solid #ccc;
}
input[type=text]{
	padding: 6px 10px;
	width: 300px;
}
input[type=button], input[type=submit]{
	padding: 10px 15px;
}
textarea{
	width: 80%;
	max-width:300px;
	height: 40%;
	padding: 6px 10px;
}

.secretstatus{
	text-align:center;
	margin-bottom:20px;
}
.messagebox{
	margin:auto;
	max-width: 278px;
	padding:6px 10px;
	font-size:13px;
	text-align:center;
	background-color:#f7f7f7;
	border:1px solid #eee;
}
.messagebox.hidden{
	display:none;
}